<div class="container-fluid">
    <div class="row">
      <div class="col-md text-xs-center">
        <img src="/assets/icon_file.svg" width=256>
        <h3>file.{{ fileExtension }}</h3>
        <h4>Checksum: {{ checksum }}</h4>
      </div>
      <div id="fileAsserts" class="col-md">
        <div class="card text-white bg-primary">
          <div class="card-header">Make A Claim</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <input [(ngModel)]="newClaim.content" placeholder="Claim" name="newClaimContent" class="form-control">
              </div>
              <div>
                <h6>You</h6>
                <app-user-badge [address]="myAddress"></app-user-badge>

                <h6 class="mt-4" *ngIf="newClaim.froms.length">Cosignatories</h6>
                <app-user-badge *ngFor="let from of newClaim.froms" [address]="from"></app-user-badge>
              </div>
              <button type="submit" class="btn btn-light" [disabled]="hasSigningPending" (click)="doneSign()">
                <span *ngIf="hasSigningPending">Loading...</span>
                <span *ngIf="!hasSigningPending">Done</span>
              </button>
              <button type="submit" class="btn btn-light" [disabled]="hasSigningPending" (click)="addCosign()">
                <span *ngIf="hasSigningPending">Loading...</span>
                <span *ngIf="!hasSigningPending">Add a co-signatory</span>
              </button>
            </form>
          </div>
        </div>

        <div class="progress mt-3" *ngIf="loading"><div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar">Loading</div></div>

        <div class="card" *ngFor="let claim of claims">
          <div class="card-header">
            <div *ngFor="let from of claim.froms">
                <app-user-badge [address]="from"></app-user-badge>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ claim.timestamp | date:'medium' }}</h5>
            {{ claim.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  