<div class="container-fluid">
  <div class="progress mt-3" *ngIf="loading"><div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar">Loading</div></div>
  <div class="row">
    <div class="col-md-8">
      <div class="card-columns">

        <div class="card" *ngFor="let competition of competitions">
          <img [src]="competition.file" [alt]="competition.description" class="card-img-top">
          <div class="card-body">
            <a [routerLink]="'/competitions/' + competition.address"><h5 class="card-title">{{ competition.description }}</h5></a>
          </div>
        </div>

      </div>   
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="competition_name">Name of Competition</label>
          <input [(ngModel)]="name" placeholder="Best Advertiesment Award 2018" name="competition_name" id="competition_name" class="form-control">
        </div>
        <div class="form-group">
          <label for="fund">Total Payout</label>
          <input [(ngModel)]="payout" type="number" class="form-control" name=fund id="fund" min=0>
        </div>
        <hr>
        <div class="form-group">
          <input [(ngModel)]="newContestant.description" name="description" placeholder="Description" class="form-control">
        </div>
        <div class="form-group">
          <input [(ngModel)]="newContestant.file" name="file" placeholder="Link to Image/Video" class="form-control">
        </div>
        <button type="button" (click)="addContestant()" class="btn btn-secondary-outline">Add</button>
        <hr>
        <div class="card contestants" *ngFor="let contestant of contestants">
          <div class="card-body">
            <h6>{{ contestant.description }} </h6>
            <a [href]="contestant.file" target=_blank><img [src]="contestant.file" class="img-fluid"></a>
          </div>
        </div>
        <button (click)="createCompetition($event)" type="button" class="btn btn-success">Submit</button>
      </form>      
    </div>
  </div>
</div>