<h2>Claim Viewer</h2>
<div>
  <form>
    <div class="form-row">
      <div class="col">
        <input [(ngModel)]="arg1" name="arg1" class="form-control" placeholder="Argument 1">
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="getClaim()">getClaim()</button>
    <button type="button" class="btn btn-secondary" (click)="voteUp()">voteUp()</button>
    <button type="button" class="btn btn-secondary" (click)="voteDown()">voteDown()</button>
  </form>
  <h3>Result: {{result}}</h3>
</div>