<h2>Registry methods</h2>
<div>
  <form>
    <div class="form-row">
      <div class="col">
        <input [(ngModel)]="address1" name="address1" class="form-control" placeholder="Address 1">
      </div>
      <div class="col">
        <input [(ngModel)]="address2" name="address2" class="form-control" placeholder="Address 2">
      </div>
    </div>
    <button type="button" class="btn btn-danger" (click)="register()">register()</button>
    <button type="button" class="btn btn-danger" (click)="friend()">friend()</button>
    <button type="button" class="btn btn-danger" (click)="unfriend()">unfriend()</button>
    <button type="button" class="btn btn-danger" (click)="isFriend()">isFriend()</button>
    <button type="button" class="btn btn-secondary" (click)="pagerank()">pagerank()</button>
  </form>
  <h3>Result: {{result}}</h3>
</div>