<ul>
  <li><a routerLink="/claim-make">Make a Claim</a></li>
  <li><a routerLink="/claim-view">Inspect a Claim</a></li>
  <li><a routerLink="/registry">Registry2 Demo</a></li>
  <li><a routerLink="/assert-page">Backup a Webpage</a></li>
  <li><a routerLink="/verify-page">Check a Webpage</a></li>
  <li><a routerLink="/file-asserts">File Asserts</a></li>
  <li><a routerLink="/file-asserts2">File Asserts2</a></li>
  <li><a routerLink="/file-new">File New</a></li>
  <li><a routerLink="/competitions/">Vote Create</a></li>
</ul>