<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <form class="form-inline mr-auto">
    <input [(ngModel)]="urlInput" name="url" aria-label="URL" class="form-control mr-sm-4">
    <button class="btn btn-success" type="button" (click)="loadPreview()">Go</button>
  </form>
  <form class="form-inline">
    <button class="btn btn-primary" type="button">Save</button>
  </form>
</nav>

<div class="container-fluid">
  <div class="row preview-panes">
    <iframe [src]="url" class="col"></iframe>
    <img class="col" [src]="previewUrl" #preview>
  </div>
</div>
