<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <form class="form-inline">
    <button class="btn btn-secondary mr-2" type="button" (click)="loadPreview()">Previous</button>
    <button class="btn btn-secondary" type="button" (click)="loadPreview()">Next</button>
  </form>
  <span class="navbar-text ml-3 mr-3">Webpage backup from user 0x12345</span>
  <form class="form-inline mr-auto">
      <input  name="url" aria-label="URL" class="form-control mr-sm-4">
  </form>
  <form class="form-inline">
    <button class="btn btn-primary mr-2" type="button">Confirm</button>
    <button class="btn btn-danger" type="button">Reject</button>
  </form>
</nav>

<div class="container-fluid">
  <div class="row preview-panes">
    <iframe src="https://lite.cnn.io/en" class="col"></iframe>
    <img class="col" [src]="previewUrl" #preview>
  </div>
</div>
