<div class="container-fluid">
  <div class="row">
    <div id="dragZone" class="col-md"  (dragleave)="onDragFileOverEnd($event)" (drop)="onDragFileDrop($event)" (dragover)="onDragFileOverStart($event)">
      <p id="dragZoneText">Drop your file here!</p>
      <div id="dragZoneFileInfo" *ngIf="showFileInfo">
        File: {{ filename }}
        Size: {{ size }} bytes
        Type: {{ type }}
      </div>
    </div>
    <div id="fileAsserts" class="col-md">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Make A Claim</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1"><img src="https://cdn.pixabay.com/photo/2016/11/08/15/21/user-1808597_960_720.png" width="16">John Doe</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Claim">
            </div>
            <button type="submit" class="btn btn-light">Submit</button>
          </form>
        </div>
      </div>            
      <div class="card">
        <div class="card-header"><img src="https://cdn.pixabay.com/photo/2016/11/08/15/21/user-1808597_960_720.png" width="16">John Doe</div>
        <div class="card-body">
          <h5 class="card-title">2018-03-19 11:53PM</h5>
          John Doe's will
        </div>
      </div>
      <div class="card">
        <div class="card-header"><img src="https://cdn.pixabay.com/photo/2016/11/08/15/21/user-1808597_960_720.png" width="16">Jane Smith</div>
        <div class="card-body">
          <h5 class="card-title">2018-03-19 11:51PM</h5>
          John Doe's will
        </div>
      </div>
      <h2>Signed by James Doe</h2>
      <div class="card">
          <div class="card-header">2018-03-19 11:53PM</div>
          <div class="card-body">
            <h5 class="card-title">1.png (sha1 checksum: 1bcj4i5k)</h5>
            <p>John Doe's will</p>
            Got the file? Drag it <a href="#">HERE</a> to verify.
          </div>
      </div>
      <div class="card">
          <div class="card-header">2018-03-17 07:30AM</div>
          <div class="card-body">
            <h5 class="card-title">good.pdf (sha1 checksum: 1bcj4i5k)</h5>
            <p>Smith's Will</p>
            Got the file? Drag it <a href="#">HERE</a> to verify.
          </div>
      </div>
    </div>
  </div>
</div>
