#dragZone {
	border: 1px dotted gray;
	border-radius: 25px;
	padding-top: 1.5em;
	text-align: center;
}

#dragZone > #dragZoneText {
	margin-bottom: 1.5em;
}

#dragZone > #dragZoneFileInfo {
	white-space: pre-wrap;
}