<h2>MakeClaim</h2>
<div>
  <form>
    <div class="form-row">
      <div class="col">
        <input [(ngModel)]="arg1" name="arg1" class="form-control" placeholder="Argument 1">
      </div>
      <div class="col">
        <input [(ngModel)]="arg2" name="arg2" class="form-control" placeholder="Argument 2">
      </div>
      <div class="col">
        <input [(ngModel)]="arg3" name="arg3" class="form-control" placeholder="Argument 3">
      </div>
    </div>
    <button type="button" class="btn btn-secondary" (click)="claim()">claim()</button>
    <button type="button" class="btn btn-secondary" (click)="getClaims()">getClaims()</button>
  </form>
  <h3>Result: {{result}}</h3>
</div>