<nav class="navbar navbar-light fixed-top navbar-expand" style="background-color: #e3f2fd;">
	<a class="navbar-brand" routerLink="/">WOB Kitchen Sink</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" [routerLink]="" (click)="switchToNormal()">Web3</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" [routerLink]="" (click)="switchToUport()">uPort</a>
			</li>
		</ul>
	</div>
	<span class="navbar-text">{{ address }}</span>
	<span class="navbar-text" *ngIf="!address" style="color: red; font-weight: bold;">UNAUTHENTICATED</span>
</nav>