<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
      <div>
          <qr-code [value]="'All QR Code data goes here!'" [size]="220"></qr-code>
      </div>
      <p style="margin-top:4rem">Download <a href="https://status.im/" target="_blank">Status</a> or <a href="https://www.toshi.org/">Toshi</a> for IM.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

<div class="container-fluid">
  <div class="row">
    <div class="col-md text-xs-center">
      <img [src]="avatar" width=256>
      <h3>{{ name }}</h3>
      <h6>( {{ pagerank }} )</h6>
      <h4 style="word-wrap: break-word;">Address: {{ address }}</h4>
      <button class="btn btn-block btn-outline-primary" (click)="open(content)">Message</button>
      <button *ngIf="isFriend === false" (click)="friend($event)" class="btn btn-block btn-outline-success">Friend</button>
      <button *ngIf="isFriend === true" (click)="unfriend($event)" class="btn btn-block btn-outline-danger">Unfriend</button>
    </div>
    <div id="fileAsserts" class="col-md">
      <div class="progress mt-3" *ngIf="loading"><div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar">Loading</div></div>

      <div class="card" *ngFor="let claim of claims">
        <div class="card-header">
          <a [routerLink]="claim.link"><h6>{{ claim.key_decoded }}</h6></a>
          <div *ngFor="let from of claim.froms">
              <app-user-badge [address]="from"></app-user-badge>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title">{{ claim.timestamp | date:'medium' }}</h6>
          {{ claim.content }}
        </div>
      </div>
    </div>
  </div>
</div>
