<div class="root">
  <h2>{{ description }}</h2>

  <div class="alert alert-warning" role="alert" *ngIf="voted">
    You have already voted!
  </div>    

  <div class="progress mt-3" *ngIf="loading"><div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar">Loading</div></div>

  <div class="card-columns">

    <div class="card" *ngFor="let contestant of contestants">
      <img [src]="contestant.file" [alt]="contestant.description" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ contestant.description }}</h5>
        <h6 *ngIf="contestant.votedBy.length">Voted By</h6>
        <app-user-badge [address]="voter" *ngFor="let voter of contestant.votedBy"></app-user-badge>
        <button (click)="voteUp(contestant)" [disabled]="loading" *ngIf="!voted" class="btn btn-success" type="button">Vote</button>
      </div>
    </div>

  </div>
</div>