.root {
	margin-top: 5rem;
}

.progress {
	margin-bottom: 2em;
}

.alert {
	margin-bottom: 1em;
}

@media (min-width: 576px) {
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}