<h1>Welcome! Please upload your file here</h1>
<div *ngIf="canUpload">
  <input type="file" (change)="generateChecksum($event)">
</div>
<div *ngIf="!canUpload" class="card">
    <div class="card-body">
      <h5 class="card-title">{{ file.name }}</h5>
      <p class="card-text">
        <li>File size: {{ file.size }}</li>
        <li>File type: {{ file.type }}</li>
        <li>Last modified: {{ fileLastModified }} </li>
        <li>SHA-1 checksum: {{ checksum }}</li>
      </p>
      <a [routerLink]="filePage" class="btn btn-primary">Confirm</a>
    </div>
  </div>
  